{% extends 'base.html.twig' %}

{% block title %}New Booking
{% endblock %}

{% block body %}
	<h1 style="margin: 50px 0 40px 0;text-align: center;">Book A Table</h1>

	{{ include('home/booking/_form.html.twig') }}

{% endblock %}
