{% extends 'admin/index.html.twig' %}
{% block title %}New Food
{% endblock %}

{% block adminContent %}
	<div style="min-height: 70vh;">
		<h1 style="margin: 50px 0 20px 0;text-align: center;">Create new Food</h1>

		{{ include('admin/food_crud/_form.html.twig') }}

	</div>
{% endblock %}
