{% extends 'base.html.twig' %}

{% block title %}New Order
{% endblock %}

{% block body %}
	<h2 style="margin: 50px 0 0 0;text-align: center;">Create Order</h2>
	{{ include('order/_form.html.twig') }}

{% endblock %}
